@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Gilroy Light';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-white: #ffffff;
    --basic-grey: #464646;
    --basic-half-gray: #E5E5E5;
    --basic-grey-light: #E5E5E5;
    --special-yellow: #F7E296;
    --special-green: #91C92F;
    --special-yellow-dark: #F0C52E;
}

body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', 'Arail', sans-serif;
    font-size: 15px;
    color: var(--basic-black);
}

/* 
    Links
*/
.link-small {
    text-decoration: none;
    color: var(--basic-black);
    font-size: 15px;
}

.link-small:hover {
    opacity: 0.6;
}

.link-small:active {
    opacity: 0.3;
}

.link-medium {
    text-decoration: none;
    color: var(--basic-black);
    font-family: 'Gilroy';
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 22px;
}

.link-medium:hover {
    opacity: 0.6;
}

.link-medium:active {
    opacity: 0.3;
}

.link-button {
    transition: linear;
    font-family: 'Gilroy', 'Arial', sans-serif;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    background-image: linear-gradient(to bottom, transparent 8px, var(--special-yellow-dark) 8px, var(--special-yellow-dark) 16px, transparent 16px);
    padding: 0px 40px 0 44px;
    letter-spacing: 0.2em;
}

.link-button:hover {
    background-image: linear-gradient(to bottom, var(--special-yellow-dark), var(--special-yellow-dark));
}

/* 
    other styles
*/
.letter-spacing {
    letter-spacing: 0.1em;
}

/* 
    HEADER
*/
.header {
    width: 1160px;
    height: auto;
    margin: 40px auto auto auto;
    padding: 44px 60px 50px 60px;
    position: relative;
    background-color: var(--special-yellow);
    box-sizing: border-box;
}

.logo {
    position: absolute;
    top: -20px;
    left: 60px;
}

.logo:hover {
    opacity: 0.6;
}

.logo:active {
    opacity: 0.3;
}

.header-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 36px;
}

.search-form {
    position: relative;
    height: 34px;
    width: 50%;
    box-sizing: border-box;
}

.search-form::before {
    content: '';
    position: absolute;
    top: 3px;
    width: 16px;
    height: 16px;
    background: url(../img/icons/icon_search.svg);
}

.search-field {
    border: none;
    font-size: 15px;
    background: none;
    font-family: 'Open Sans', 'Arial', sans-serif;
    padding: 0px 0px 0px 38px;
    padding-bottom: 1px;
    box-sizing: border-box;
    color: var(--basic-black);
    opacity: 0.3;
}

.search-button {
    position: absolute;
    top: -14px;
    right: 2px;
    outline: 2px solid var(--basic-black);
    background: none;
    padding: 13px 15px;
    font-size: 15px;
    text-transform: uppercase;
    box-sizing: border-box;
    border: none;
    font-family: 'Open Sans', sans-serif;
    display: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--basic-black);
    color: var(--basic-white);
}

.search-button:active  {
    background-color: var(--basic-black);
    color: var(--basic-white);
}

.search-button:active .button-text  {
    opacity: 0.3;
}

.search-form:hover {
    border-bottom: 2px solid var(--basic-black);
}

.search-form:hover .search-button{
    display: block;
}

.search-form:hover .search-field {
   opacity: 0.6;
}

.search-form:focus .search-field {
    opacity: 1;
}

.services-menu {
    list-style-type: none;
    width: 50%;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

.services-menu-item {
    margin-left: 65px;
    position: relative;
}

.services-menu-item:first-child {
    margin-right: auto;
    margin-left: 44px;
}

.header-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.link-small.login::before {
    content: '';
    position: absolute;
    left: -23px;
    bottom: 4px;
    width: 10px;
    height: 10px;
    background-image: url('../img/icons/login.png');
    background-repeat: no-repeat;
}
.link-small.compare::before {
    content: '';
    position: absolute;
    left: -24px;
    bottom: 4px;
    width: 10px;
    height: 10px;
    background-image: url('../img/icons/compare.png');
    background-repeat: no-repeat;
}
.link-small.basket::before {
    content: '';
    position: absolute;
    left: -22px;
    bottom: 5px;
    width: 10px;
    height: 10px;
    background-image: url('../img/icons/basket.png');
    background-repeat: no-repeat;
}

.catalog {
    width: 50%;
}

.catalog-link {
    position: relative;
}
.catalog-link::before {
    content: '';
    position: absolute;
    right: -37px;
    width: 22px;
    height: 22px;
    background-image: url('../img/icons/icon_plus.png');
}

.services-link {
    list-style-type: none;
    width: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.services-link-item {
    margin-right: 35px ;
}

.services-link-item:first-child {
    margin-left: 20px;
}
.services-link-item:last-child {
    margin-right: -4px;
    margin-left: auto;
}

.hidden-menu {
    display: none;
}

.catalog:hover .hidden-menu {
    list-style-type: none;
    position: absolute;
    z-index: 999;
    padding: 31px 0px 26px 60px;
    margin: 0px auto 0px auto;
    left: -60px;
    width: 1160px;
    background: var(--special-yellow);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
}

.hidden-menu-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 63px;
}

.hidden-menu-item .link-small {
    margin-bottom: 16px;
}

/* 
    Main
*/
.content {
    width: 1160px;
    margin: auto;
}

.slider {
    background-image: linear-gradient(to bottom, var(--special-yellow) 113px, transparent 113px);
}

.slide {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.slide-box {
    width: 50%;
    position: relative;
    padding: 78px 0 0 21px
}

.slide-img {
    position: absolute;
    left: 89px;
    top: -15px;
}

.slide-number {
    position: absolute;
    right: 47px;
    top: -32px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 179px;
    color: var(--basic-white);
}

.slide-number::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    left: -331px;
    bottom: 161px;
    background-color: var(--basic-white);
}

.headline {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 47px;
    line-height: 58px;
    margin: 0;
}

.description-black {
    margin: 26px 0 60px 0;
    font-family: 'Open Sans', sans-serif;
}

.slide-property  {
    margin: 45px 0 0 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.property-box-name {
    margin-bottom: 11px;
}

.property-box-value {
    margin: 0;
}

.property-name {
    font-family: 'Gilroy light', 'Arial', sans-serif;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    margin-right: 58px;
}

.property-value {
    font-family: 'Gilroy light', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    margin-right: 62px;
}
