@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2');
    src: url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2');
    src: url('../fonts/gilroylight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensanslight.woff') format('woff2');
    src: url('../fonts/opensanslight.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.woff') format('woff2');
    src: url('../fonts/opensans.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
}

:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-white: #ffffff;
    --basic-grey: #464646;
    --basic-half-gray: #7E7E7E;
    --basic-light-gray: #A6A6A6;
    --basic-grey-light: #E5E5E5;
    --basic-grey-dark: #DCDCDC;
    --basic-grey-ultralight: #F2F2F2;
    --basic-red: #F6DADA;
    --special-yellow: #F7E296;
    --special-green: #91C92F;
    --special-yellow-dark: #F0C52E;
}

body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', 'Arail', sans-serif;
    font-size: 15px;
    color: var(--basic-black);
}

.visually-hidden {
    /* visibility: hidden; */
    overflow: hidden;
    position: absolute;
    border: none;
    padding: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

.hidden {
    display: none;
}
img {
    max-width: 100%;
    height: auto;
}

/* 
    Links
*/
a {
    text-decoration: none;
    color: inherit;
}

.link-small {
    text-decoration: none;
    color: var(--basic-black);
    font-size: 15px;
    display: flex;
    align-items: center;
}

.link-small.white {
    color: var(--basic-white);
}

.link-small:hover {
    opacity: 0.6;
}

.link-small:active {
    opacity: 0.3;
}

.link-medium {
    text-decoration: none;
    color: var(--basic-black);
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 22px;
}

.link-medium.white {
    color: var(--basic-white);
}

.link-medium:hover {
    opacity: 0.6;
}

.link-medium:active {
    opacity: 0.3;
}

.link-button {
    transition: linear;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    background-image: linear-gradient(to bottom, transparent 8px, var(--special-yellow-dark) 8px, var(--special-yellow-dark) 16px, transparent 16px);
    padding: 0px 40px 0 44px;
    letter-spacing: 0.2em;
    border: none;
}

.link-button:hover {
    background-image: linear-gradient(to bottom, var(--special-yellow-dark), var(--special-yellow-dark));
}

.link-button:active {
    color: rgba(0, 0, 0, 0.3);
}

/* 
    Header
*/
.header {
    width: 1160px;
    height: auto;
    margin: 40px auto auto auto;
    padding: 32px 60px 50px 60px;
    position: relative;
    background-color: var(--special-yellow);
    box-sizing: border-box;
}

.link-logo {
    position: absolute;
    top: -20px;
    left: 60px;
}

.link-logo[href]:hover {
    opacity: 0.6;
}

.link-logo[href]:active {
    opacity: 0.3;
}

.header-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 34px;
}

.search-form {
    position: relative;
    height: 47px;
    width: 438px;
    display: flex;
    border: none;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
}

.icon-search {
    padding-top: 17px;
}

.search-field {
    flex-grow: 1;
    font-family: 'Open Sans', 'Arial', sans-serif;
    box-sizing: border-box;
    border: none;
    font-size: 15px;
    background: none;
    padding: 3px 0px 0px 23px;
    padding-bottom: 1px;
    color: var(--basic-black);
    opacity: 0.3;
}

.search-button {
    outline: 2px solid var(--basic-black);
    background: none;
    padding: 13px 15px;
    font-size: 15px;
    text-transform: uppercase;
    box-sizing: border-box;
    border: none;
    font-family: 'Open Sans', 'Arial', sans-serif;
    display: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--basic-black);
    color: var(--basic-white);
}

.search-button:active  {
    background-color: var(--basic-black);
    color: var(--basic-white);
}

.search-button:active .button-text  {
    opacity: 0.3;
}

.search-form:hover {
    border-bottom: 2px solid var(--basic-black);
}

.search-form:hover .search-button{
    display: block;
}

.search-form:hover .search-field {
   opacity: 0.6;
}

.search-form:focus .search-field {
    opacity: 1;
}

.services-menu {
    list-style-type: none;
    width: 50%;
    display: flex;
    padding: 14px 0 0 0;
    margin: 0;
    justify-content: flex-end;
}


.services-menu-item:first-child {
    margin-right: auto;
    margin-left: 20px;
}

.services-menu-item {
    display: flex;
    margin-left: 44px;
}

.services-menu-link {
    display: flex;
    align-items: center;
}

.services-menu-link:hover {
    opacity: 0.6;
}

.services-menu-link:focus {
    opacity: 0.3;
}

.user {
    margin-right: 21px;
}

.logout {
    opacity: 0.3;
}

.icon-login {
    margin-right: 11px;
}

.icon-compare {
    margin-right: 12px;
}

.icon-cart {
    margin-right: 11px;
}


.header-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.catalog {
    width: 50%;
}

.catalog-link {
    position: relative;
    letter-spacing: 0.1em;
}

.plus {
    margin-left: 12px;
    vertical-align: middle;
}

.hidden-menu {
    display: none;
}

.catalog:hover .hidden-menu {
    list-style-type: none;
    position: absolute;
    z-index: 999;
    padding: 31px 0px 26px 60px;
    margin: 0px auto 0px auto;
    left: -60px;
    width: 1160px;
    background: var(--special-yellow);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
}

.services-link {
    list-style-type: none;
    width: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.services-link-item {
    margin-right: 35px ;
}

.services-link-item:first-child {
    margin-left: 20px;
}
.services-link-item:last-child {
    margin-right: -4px;
    margin-left: auto;
}


.hidden-menu-item {
    margin-right: 63px;
}

.hidden-menu-item .link-small {
    margin-bottom: 16px;
}

/* 
    Footer
*/

.footer {
    background-color: var(--basic-dark );
    width: 1440px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    padding: 33px 140px 49px 140px;
    position: relative;
    box-sizing: border-box;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.sup-line {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 57px;
}

.link-logo-footer {
    position: absolute;
    top: 63px;
    left: 140px;
}

.link-logo-footer:hover {
    opacity: 0.6;
}

.link-logo-footer:active {
    opacity: 0.3;
}

.services-menu-footer {
    display: flex;
    justify-content: flex-end;
}

.services-menu-footer-link {
    color: var(--basic-white);
    opacity: 0.7;
    margin-left: 23px;
}

.services-menu-footer-link:hover {
    opacity: 1;
}

.services-menu-footer-link:active {
    opacity: 0.3;
}

.icon-login-footer {
    margin-right: 7px;
    vertical-align: middle;
}

.services-menu-footer .compare {
    margin-left: 20px;
}

.icon-compare-footer {
    margin-right: 7px;
    vertical-align: bottom;
}

.services-menu-footer .cart {
    margin-left: 21px;
}

.icon-cart-footer {
    margin-right: 8px;
    vertical-align: baseline;
}

.middle-line {
    font-size: 0;
    margin-bottom: 52px
}

.description-white {
    margin: 0;
    color: var(--basic-white);
    margin-right: 165px;
    display: inline-block;
    vertical-align: baseline;
    font-size: 15px;
}

.services-link-footer {
    font-size: 0;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 168px;
}

.services-link-footer li {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 33px;
}

.footer-phone {
    display: inline-block;
    vertical-align: baseline;
}

.sub-line {
    display: flex;
    justify-content: flex-start;
}

.footer-line {
    margin-top: 28px;
}

.social-link {
    display: flex;
    margin-left: auto;
}

.social-link-item:hover .social-link-icon {
    fill-opacity: 1;
}

.social-link-item:active .social-link-icon {
    fill-opacity: 0.1;
}

.social-link-item {
    margin-right: 19px;
}

.academy {
    margin-left: 467px;
    margin-top: 14px;
}

.academy:hover {
    opacity: 0.6;
}

.academy:active {
    opacity: 0.3;
}

/* 
    Slider
*/
.content {
    width: 1440px;
    margin: auto;
}

.slider {
    position: relative;
    background-image: linear-gradient(to bottom, var(--special-yellow) 114px, transparent 114px);
    width: 1160px;
    margin: auto;
    margin-bottom: 114px;
}

.slide {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.slide-box-image {
    margin: 0;
    padding: 0;
    width: 600px;
}
.slide-box-info {
    position: relative;
    width: 560px;
}

.slide-img {
    position: absolute;
    left: 89px;
    top: -15px;
}

.slide-number {
    position: absolute;
    right: 47px;
    top: -32px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 179px;
    color: var(--basic-white);
}

.headline {
    position: relative;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 47px;
    line-height: 58px;
    margin: 0;
}

.headline-line-white {
    padding-top: 78px;
}

.headline-line-white::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 7px;
    left: 0;
    top: 19px;
    background-color: var(--basic-white);
}

.description-black {
    margin: 27px 0 60px 0;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 20px;
}

.slide-property {
    border-collapse: collapse;
    text-align: left;
    margin-top: 60px;
}

.slide-property-headline {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    padding-right: 60px;
    padding-bottom: 15px;
}

.slide-property-value {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.slide-property-headline-last {
    padding: 0px 0px 10px 1px;
}

.slide-property-value-last {
    padding: 0 0 0px 5px;
}

.th-padding {
    padding: 0px 0px 10px 1px;
}

.td-padding {
    padding: 0 0 0px 5px;
}

.slider-icon-box {
    position: absolute;
    right: 74px;
    bottom: 134px;
}

.slider-label {
    margin-right: 8px;
}


.slider-icon {
    position: relative;
    outline: none; 
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid var(--basic-black);
    border-radius: 10px;
    margin-right: 6px;
}


.slider-input:checked + .slider-icon::after{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 1px solid var(--basic-black);
    border-radius: 10px;
    top: 2px;
    left: 2px;
} 

/* 
    Popular
*/
.popular {
    width: 1160px;
    margin: auto;
    margin-bottom: 85px;
}
.popular-list {
    list-style-type: none;
    padding: 0;
}

.popular-list {
    display: flex;
    justify-content: space-between;
}

.popular-item {
    width: 160px;
    height: auto;
}

.popular-item:hover .popular-img {
    background-color: var(--special-yellow-dark);
}

.popular-item:active .popular-img {
    background-color: var(--special-yellow-dark);
}

.popular-item:active .caption-small,
.popular-item:active svg {
    opacity: 0.3;
}

.popular-img {
    width: 160px;
    height: 160px;
    background-color: var(--special-yellow);
    position: relative;
    margin-bottom: 38px;
}

.popular-img svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popular-item:nth-child(2) svg {
    transform: translate(-50%, -47%);
}

.popular-name {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.letter-spacing-null {
    letter-spacing: 0;
}
    
/* 
    Services
*/
.services {
    background-image: linear-gradient(to bottom, var(--basic-white) 100px, var(--basic-grey-light) 100px);
    margin-bottom: 89px;
}

.services-wrapper {
    display: flex;
    width: 1158px;
    min-height: 320px;
    margin: auto;
    position: relative;
    padding-bottom: 68px;
}

.services-menu-label {
    margin-bottom: 42px;
}

.services-menu-label:first-child {
    margin-top: 86px;
    margin-bottom: 41px;
}

.services-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 7px solid var(--basic-black);
}

.services-button {
    width: 160px;
    display: inline-block;
    text-align: center;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    background-image: linear-gradient(to bottom, transparent 8px, var(--special-yellow-dark) 8px, var(--special-yellow-dark) 16px, transparent 16px);
    letter-spacing: 0.2em;
    border: none;
}

.services-button-active {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 11px;
    padding-right: 132px;
    vertical-align: sub;
    letter-spacing: 0.2em;
    background-color: var(--basic-black);
    color: var(--special-yellow);
    outline: 1px solid var(--basic-black);
}

.services-info {
    padding-left: 115px;
}

.services-info svg {
    position: absolute;
    top: 70px;
    right: 0px;
}

.caption {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
    margin-top: 70px;
    margin-bottom: 40px;
}

.description-services {
    width: 495px;
    margin-top: 0;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.1em;
}

/* 
    Logotypes
*/
.logotypes {
    list-style-type: none;
    padding: 0;
    width: 1160px;
    margin: auto;
    margin-bottom: 88px;
}

.brands-item {
    position: relative;
}

.brands-link {
    filter: grayscale(1);
    opacity: 0.2;
}

.brands-link:hover {
    filter: grayscale(0);
    opacity: 1;
}

.brands-icon {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

/* 
    Info
*/
.info {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1160px;
    margin: auto;
    margin-bottom: 88px;
}

.about {
    width: 473px;
}

.contact {
    width: 560px;
}

.info .headline {
    padding-top: 59px;
    letter-spacing: 0.2em;
    position: relative;
}
.headline {
    position: relative;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 47px;
    line-height: 58px;
    margin: 0;
}

.info .headline::before {
    content: '';
    width: 80px;
    height: 7px;
    background-color: var(--basic-black);
    position: absolute;
    top: 0;
    left: 0;
}

.about .description-about {
    margin: 0;
    font-family: 'Open Sans', 'Arial', sans-serif;
    margin-top: 38px;
    line-height: 28px;
}

.delivery-list {
    margin-top: 67px;
    margin-bottom: 82px;
    padding-left: 19px;
    list-style-type: circle;
}

.delivery-item {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
    padding-left: 13px;
    font-size: 16px;
}

.about .link-button {
    padding-left: 25px;
    padding-right: 17px;
}

.description-contact {
    margin-top: 38px;
    margin-bottom: 39px;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
}

a.map-link {
    display: block;
    margin-bottom: 82px;
}

.contact .link-button {
    padding-left: 41px;
    padding-right: 37px;
}

/* 
    Catalog
*/
.hidden {
    display: none;
}

.info-page {
    padding-top: 44px;
    padding-left: 121px;
    width: 1160px;
    margin: auto;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 32px;
    list-style-type: none;
    padding: 0;
}

.breadcrumbs li{
    padding-right: 40px;
    position: relative;
}

.breadcrumbs-link {
    opacity: 0.3;
    font-size: 14px;
}

.breadcrumbs-link:hover {
    opacity: 0.6;
}

.breadcrumbs-link:active {
    opacity: 0.1;
}

.breadcrumbs li::after {
    position: absolute;
    top: 8px;
    right: 16px;
    content: '';
    width: 4px;
    height: 7px;
    background-image: url(../img/icons/breadcrumbs-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.breadcrumbs li:first-child::after {
    position: absolute;
    top: 7px;
    right: 20px;
    content: '';
    width: 4px;
    height: 7px;
    background-image: url(../img/icons/breadcrumbs-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.breadcrumbs li:last-child::after {
    background-image: none;
}

.tools-line {
    background-color: var(--basic-grey-light);
    display: flex;
    justify-content: space-between;
    padding-right: 145px;
    margin-top: 51px;
    height: 70px;
}

.tools-name {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-top: 25px;
    margin: 0;
    margin-right: 74px;
}

.tools-name.dark {
    background-color: var(--basic-grey-dark);
    text-align: center;
    width: 468px;
    padding-top: 25px;
    padding-left: 6px;
    margin-right: 72px;
    box-sizing: border-box;
}

.sort-type {
    list-style-type: none;
    padding: 0;
    padding-top: 25px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

.sort-name:not(:last-child) {
    margin-right: 33px;
}

.sort-name:last-child {
    margin-left: auto;
}

.sort-button {
    border: none;
    background: none;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    padding: 0;
    opacity: 0.3;
}

.sort-button-active {
    opacity: 1;
}

.triangle  {
    border: none;
    background: none;
    width: 0;
    height: 0;
    border-radius: 0px;
    padding: 0;
    vertical-align: middle;
    opacity: 0.3;
}

.triangle-up {
    border-top: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid var(--basic-black);
}

.triangle-down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid var(--basic-black);
    vertical-align: middle;
    margin-left: 20px;
}

.triangle-active {
    opacity: 1;
}
.filters-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.filters {
    padding-top: 32px;
    background-color: var(--basic-grey-light);
    width: 468px;
}

.form-filters {
    width: 200px;
    padding-left: 200px;
}

.form-filters fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 38px;
}

.form-filters legend,
.filter-name span {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-top: 2px solid black;
    padding: 0;
    padding-top: 14px;
    display: block;
    width: 100%;
    margin-bottom: 34px;
    margin-top: 38px;
    line-height: 17px;
    letter-spacing: 0.1em;
}

.form-filters fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

.form-filters label {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: var(--basic-black)
}

.input-color + span::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: top;
    background-image: url('../img/icons/checkbox-off.svg');
    margin-right: 18px;
}

.input-color:checked + span::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: top;
    background-image: url('../img/icons/checkbox-on.svg');
    margin-right: 18px;
}

.bluetooth-input + span::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: top;
    background-image: url('../img/icons/radio-off.svg');
    margin-right: 18px;
}

.bluetooth-input:checked + span::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: top;
    background-image: url('../img/icons/radio-on.svg');
    margin-right: 18px;
}

.color-filter:hover span::before,
.bluetooth-filter:hover span::before {
    opacity: 0.6;
}

.color-filter:active span::before,
.bluetooth-filter:active span::before {
    opacity: 1;
}

.input-color:disabled + span::before,
.bluetooth-input:disabled + span::before {
    opacity: 0.25;
}
.input-color:disabled + span,
.bluetooth-input:disabled + span {
    color: var(--basic-light-gray)
}

.form-filters .link-button {
    background-color: transparent;
}

input[type='checkbox']:focus + span, 
input[type='radio']:focus + span {
    outline: 2px solid black;
}

.products {
    padding-top: 70px;
    padding-left: 71px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 972px;
    box-sizing: border-box;    
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product {
    position: relative;
    margin-right: 41px;
    margin-bottom: 45px;
    width: 362px;
}

.product-info {
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
    width: 366px;
}

.product-title {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    margin: 0;
    margin-top: 27px;
    padding-left: 1px;
    width: 276px
}

.product-price {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    padding-top: 30px;
    width: 85px;
    word-break: break-all;
    box-sizing: border-box;
    margin-left: auto;
}

.product-button {
    background-color: transparent;
    border: none;
}

.product-button.link-small {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.1em;
}

.product-image:hover + .product-buttons{
    display: block;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pagination {
    width: 760px;
    height: 70px;
    background-color: var(--basic-grey-light);
    margin-bottom: 75px;
}

.pagination-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    height: 70px;
    margin: 0;
    padding-top: 23px;
    padding-bottom: 0;
    padding-left: 31px;
    padding-right: 28px;
}

.pagination-item {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0 10px;
}

.pagination-item:first-child {
    margin-right: auto;
}

.pagination-item:last-child {
    margin-left: auto;
}

.pagination-item .active-number {
    font-weight: bold;
}

.pagination-item .next {
    font-weight: bold;
    opacity: 0.3;
}

/* 
    Modal
*/

.modal {
    display: none;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-feedback {
    width: 960px;
    height: 550px;
    background-color: var(--basic-white);
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.form-feedback {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 92px 100px 145px 100px;
    box-sizing: border-box;
}

.feedback-caption {
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}

.feedback-name,
.feedback-email,
.feedback-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.feedback-name-input,
.feedback-email-input,
.feedback-text-input {
    border: none;
    background-color: var(--basic-grey-ultralight);
    padding: 0px;
    padding: 17px 20px;
    box-sizing: border-box;
}

.feedback-name-input:hover,
.feedback-email-input:hover,
.feedback-text-input:hover {
    background-color: var(--basic-grey-light);
}

.feedback-name-input:focus,
.feedback-email-input:focus,
.feedback-text-input:focus {
    background-color: var(--basic-white);
    color: var(--basic-dark);
    outline: 2px solid var(--special-yellow);
    padding-left: 20px;
}

.feedback-name-input:invalid,
.feedback-email-input:invalid,
.feedback-text-input:invalid {
    background-color: var(--basic-red);
}

.feedback-name-input:focus .feedback-name-input::placeholder,
.feedback-email-input:focus .feedback-email-input::placeholder,
.feedback-text-input:focus .feedback-text-input::placeholder {
    padding: 0;
}

label.feedback-text {
    margin-top: 32px;
}

.feedback-name-input,
.feedback-email-input {
    width: 343px;
    height: 50px;
}

.form-feedback .link-button {
    background-color: transparent;
    margin-top: 71px;
    padding: 0px 34px;
    background-image: linear-gradient(to bottom, transparent 8px, var(--special-yellow) 8px, var(--special-yellow) 16px, transparent 16px);
}

.form-feedback .link-button:hover {
    background-image: linear-gradient(to bottom, var(--special-yellow), var(--special-yellow));
}

.button-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: var(--special-yellow-dark);
    opacity: 0.5;
}

.button-close::before,
.button-close::after {
    content: '';
    width: 3px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--basic-white);
}

.button-close::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.button-close::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.button-close:hover {
    opacity: 1;
}

.button-close:active{
    opacity: 0.3;
}